@page "/"

<PageTitle>Home Page 2  </PageTitle>

<h1> Home Page </h1>

@code {
    private void OnClick()
    {
        // Set a breakpoint here
        Console.WriteLine("Button clicked");
    }
}


@code {
    [Inject]
    private ApiService ApiService { get; set; }

    protected override void OnInitialized()
    {
        // ApiService.RunLoop();
    }
}


