@inject DataService DataService

<div>
	<button @onclick="ToggleRenderCondition">Toggle Product List</button>

	@if (ShouldRenderCondition)
	{
		<ul>
			@foreach (var product in Products)
			{
				<li>@product</li>
			}
		</ul>
	}
</div>

@code {
	private List<string> Products = new List<string> { "Product 1", "Product 2", "Product 3" };
	private bool ShouldRenderCondition = true;

	protected override bool ShouldRender()
	{
		return ShouldRenderCondition;
	}

	public void ToggleRenderCondition()
	{
		ShouldRenderCondition = !ShouldRenderCondition;
	}
}
