<h3>RecipeLinks</h3>

@code {
	private List<Recipe> recipes = new()
	{
		new Recipe { Id = 1, Name = "Spaghetti Bolognese", Description = "Classic Italian Pasta dish"},
		new Recipe { Id = 2, Name = "Chicken Curry", Description = "Flavorful Indian curry"}
	};
}

@foreach (var recipe in recipes)
{
	<NavLink href="@($"/recipe/{recipe.Id}")" Match ="NavLinkMatch.Prefix"> View Details</NavLink>
}